<!--
  Generated template for the MyMedicationDiary page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Mein Medikationstagebuch</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-card>
    <ion-card-header (click)="toggleContent(1)" class="clickAbleHeader">
      Medikationstreue insgesammt
    </ion-card-header>
          <ion-card-content [ngClass]="{'hidden': toggleObject != 1}">
          <canvas #barCanvas></canvas>
        </ion-card-content>
      </ion-card>
      <ion-card>
      <ion-card-header (click)="toggleContent(2)" class="clickAbleHeader">
        Medikationstreue Verlauf
      </ion-card-header>
      <ion-card-content [ngClass]="{'hidden': toggleObject != 2}">
        <canvas #lineCanvas></canvas>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header (click)="toggleContent(3)" class="clickAbleHeader">
        Gründe für Nichteinnahme
      </ion-card-header>
      <ion-card-content [ngClass]="{'hidden': toggleObject != 3}">
          <ion-grid  *ngFor="let drug of ComplianceListDescription; let i = index">
          {{drug.name}}
            <ion-row>
              <ion-col>
                <u>Datum</u>
              </ion-col>
              <ion-col>
                <u>Tageszeit</u>
              </ion-col>
              <ion-col>
              <u>Grund</u>
              </ion-col>
            </ion-row>
                 <ion-row class="rowHeight" *ngFor="let messages of drug.data; let k = index">
                <ion-col>
                  {{messages.date}}
                </ion-col>
                <ion-col>
                  {{messages.dayTime}}
                </ion-col>
                <ion-col>
                  {{messages.description}}
                </ion-col>
              </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
</ion-content>
