<!--
  Generated template for the MyMedication page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Meine Medikation</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      Meine bisherigen Medikamente
    </ion-card-header>

    <ion-card-content *ngFor="let drug of drugList">
      <ion-grid>

        <ion-row>
          <ion-col col-6><img src="https://apps.hcisolutions.ch/MyProducts/picture/{{drug?.Id}}/Pharmacode/BL/Front/F" alt="Description"/></ion-col>
          <ion-col col-6>
            Name:
            {{drug.Id}}
            <br>
            Grund:
            {{drug.TkgRsn}}
            <br>
            von: {{drug.Pos[0].DtFrom}}
            <br>
            bis: {{drug.Pos[0].DtTo}}<br>

          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col *ngFor="let day of drug?.Pos[0].D; let i = index">{{perDay[i]}}:
            {{day}}</ion-col>
        </ion-row>
        <ion-row>
          Anleitung: {{drug.AppInstr}}
        </ion-row>
        <ion-row>
          Verschrieben von:{{drug.PrscbBy}}
        </ion-row>

      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Neues Medikament erfassen
    </ion-card-header>
    <ion-card-content></ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      Einstellungen
    </ion-card-header>
    <ion-card-content></ion-card-content>
  </ion-card>

</ion-content>
