<!--
  Generated template for the MyMedication page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Meine Medikation</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-card (click)="toggleContent(1)">
    <ion-card-header class="clickAbleHeader">
      Meine momentanen Medikamente
    </ion-card-header>


    <ion-card-content [ngClass]="{'hidden': toggleObject != 1}">
      <div class="medItem" *ngFor="let drug of drugList">
      <ion-grid>
        <ion-row>
          <ion-col>
            <b>{{drug.title}}</b>
          </ion-col>
          </ion-row>
          <ion-row>
          <ion-col col-5  ><img src="https://index.hcisolutions.ch/files/pics/{{drug?.Id}}_PIF_F.jpg?px=128&key=Pharmacode" alt="Description"/></ion-col>
          <ion-col class="nextToImage" col-7>
            Grund:
            {{drug.TkgRsn}}
            <br>
            von: {{drug.Pos[0].DtFrom}}
            <br>
            bis: {{drug.Pos[0].DtTo}}<br>

          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="perDayItem" *ngFor="let day of drug?.Pos[0].D; let i = index">{{perDay[i]}}:
            {{day}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="manualItem">
          Anleitung: {{drug.AppInstr}}
        </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="prescItem">
          Verschrieben von: {{drug.PrscbBy}}
        </ion-col>
        </ion-row>

      </ion-grid>
    </div>
    </ion-card-content>
  </ion-card>

  <ion-card (click)="toggleContent(2)">
    <ion-card-header class="clickAbleHeader">
      Neues Medikament erfassen
    </ion-card-header>
    <ion-card-content [ngClass]="{'hidden': toggleObject != 2}">
      <ion-grid>
          <ion-row>
            <ion-col>
              Scannen Sie den Barcode des Medikamentes ein:
            </ion-col>
            <ion-col>
              <button ion-button (click)="scanMedBox()">StrichCode Scannen</button>
            </ion-col>
          </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <ion-card (click)="toggleContent(3)">
    <ion-card-header class="clickAbleHeader">
      Einstellungen
    </ion-card-header>
    <ion-card-content [ngClass]="{'hidden': toggleObject != 3}">
    </ion-card-content>
  </ion-card>

</ion-content>
