page-my-medication {}

.clickAbleHeader {
  background-color: #5893C1;
  color: #FFF;
}

.hidden {
  display: none;
}

.medItem {
  margin-top: 10px;
}

.nextToImage {
  width: 40%;
  font-size: 1.3em;
  float: right;
  margin-right: 10px;
}

.nextToImage span {
  text-transform: lowercase;
  float: right;
  margin-right: 5%;
}

.image {
  float: left;
}

ion-card img {
  width: 100%;
}

.maxHeight {
  width: 100%;
  float: left;
  margin: 10px;
}

.card-content {
  padding: 10px;
}

.perDayItem {
  background-color: #A3C1D6;
  text-align: center;
}

.manualItem {
  background-color: #DDD;
}

.prescItem {
  background-color: #A3C1D6;
}

.delete {
  width: 25px;
  height: 25px;
  background-color: #542341;
  float: right;
  background-image: url('../images/del.png');
  background-size: 100% 100%;
}

.card-md h2 {
  font-size: 1.3em;
  color: #3a65a9;
}

.cardContent {
  background-color: #FFF;
  height: auto;
  width: auto;
  padding: 7px;
}

table {
  width: 100%;
}

table td {
  padding: 10px;
  font-size: 1.3em;
}

table tr:nth-child(odd) {
  background-color: #DDD;
}

table tr:nth-child(even) {
  background-color: #A3C1D6;
}
