page-my-medication {}

.clickAbleHeader {
  background-color: #5893C1;
  color: #FFF;
}

.hidden {
  display: none;
}

.medItem {
  margin-top: 10px;
}

.drugImage {
  height: 129px;
}

.nextToImage {
  padding-left: 20px;
  background-color: #DDD;
}

.card-content {
  padding: 10px;
}

.perDayItem {
  background-color: #A3C1D6;
  text-align: center;
}

.manualItem {
  background-color: #DDD;
}

.prescItem {
  background-color: #A3C1D6;
}

.delete {
  width: 25px;
  height: 25px;
  background-color: #542341;
  float: right;
  background-image: url('../images/del.png');
  background-size: 100% 100%;
}
