<!--
  Generated template for the MyMedication page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Meine Medikation</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card *ngFor="let drug of drugList">
  <ion-item>
    <img src="https://apps.hcisolutions.ch/MyProducts/picture/{{drug?.Id}}/Pharmacode/BL/Front/F" alt="Description" />
  </ion-item>
        <ion-card-content>
          Verschrieben von: {{drug?.PrscbBy}}
            Grund: {{drug?.TkgRsn}}
            von:{{drug?.Pos[0].DtFrom}}
            bis:{{drug?.Pos[0].DtTo}}
            <ion-grid>
            <ion-row>
              <ion-col >Morgens</ion-col>
              <ion-col >Mittags</ion-col>
              <ion-col >Abends</ion-col>
              <ion-col >Nächtlich</ion-col>
            </ion-row>
            <ion-row>
              <ion-col *ngFor="let day of drug?.Pos[0].D">{{day}}</ion-col>
            </ion-row>
          </ion-grid>

        </ion-card-content>
  </ion-card>






</ion-content>
