// http://ionicframework.com/docs/v2/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

body {}

.content {
  background-size: 100% 100%;
  background-image: url('../images/bg.png');
}

.toolbar-background {
  background-color: #3a65a9;
  color: #FFF;
}

.toolbar-title {
  color: #FFF;
}

.bar-button {
  color: #FFF;
}

.item-block {
  color: #FFF;
  background-color: #7094ce;
}
